<a href="https://colab.research.google.com/github/barbara99/unicorndevelopers_python/blob/main/2_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [ ]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [ ]:
False

False

In [ ]:
number_of_goats = 100
number_of_sheep = 200
print(number_of goats == number_of_sheep)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
number_of_pens = 20
number_of_bicycles = 30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)
```

# 2. LIST

In [ ]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [ ]:
# Obtain the datatype
type(my_list)

list

In [1]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [2, "NAME", 5]
my_list

[2, 'NAME', 5]

In [2]:
# You can have a list inside another list (nested list)
my_list = ["NAME", [3, 6, 7]]
my_list

['NAME', [3, 6, 7]]

In [3]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list = [2, "NAME", 5]
my_list[1]

'NAME'

In [4]:
# indexing for nested lists
my_list = ["NAME", [3, 6, 7], ["AGE", 5, 6]]
my_list[2][0]

'AGE'

In [ ]:
print(my_list[1][1])

6

In [ ]:
print(my_list[2])

['APPL', 5, 6]

In [5]:
# Negative Indexing
my_list = [2, "NAME", 5]
print(my_list[-2])

NAME

In [6]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, "NAME", "AGE", "SEX", 15]

# obtain elements starting from index 3 up to and not including element with index 6  
print(my_list[3:6])

['NAME', 'AGE', 'SEX']

In [7]:
# Obtain elements starting from index 3 to end
print(my_list[3:])

['NAME', 'AGE', 'SEX', 15]

In [8]:
# All elements start to end
print(my_list[:])

[2, 5, 7, 'NAME', 'AGE', 'SEX', 15]

In [9]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
list_1 = ["NAME", "AGE", "SEX", "KOFI", "222", "AMA", "YAW"]
```

**MINI CHALLENGE #3:** 
- **Print NAME**
- **Print AGE, NAME, KOFI** 
- **Print T with two different ways**

```
my_list = ["KWAMI", ["AGE", "NAME", "KOFI"], "YAW", "T"]
```

# 3. DICTIONARY

In [10]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {'key1':'value1',
           'key2':'value2', 
           'key3':'value3'}

In [11]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [12]:
# Check the data type
type(my_dict)

dict

In [13]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [14]:
# Define a dictionary for a bank client listing all his/her assets! 
school_fees = {"KOFI": 150000,
                 "AMA": 10000,
                 "SAMUEL": 20000}

print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'SAMUEL': 20000}

In [15]:
# Access elements in the dictionary
school_fees["AMA"]

10000

In [16]:
# Add a new item to an existing dictionary
school_fees["Barbara"] = 1500
print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'SAMUEL': 20000, 'Barbara': 1500}

In [17]:
# remove an item from the dictionary
del school_fees["SAMUEL"]
print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'Barbara': 1500}

In [18]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del school_fees
print(school_fees)

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 6 of your favourite items and their prices**

# 4. STRINGS

In [19]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = "Hello Everyone and Welcome to Python towards data science track!"
my_string

'Hello Everyone and Welcome to Python towards data science track!'

In [20]:
# Obtain the datatype
type(my_string)

str

In [27]:
# Combining two strings together (Let's combine the first and last name of a student)
first_name = "Barbara" 
last_name = "Asiamah"
full_name = first_name + last_name
full_name

'BarbaraAsiamah'

In [28]:
# You can combine both strings together and add spaces in between
full_name = first_name + " " + last_name
full_name

'Barbara Asiamah'

In [29]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON TOWARDS DATA SCIENCE TRACK!'

In [30]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_string.split()
x

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'towards',
 'data',
 'science',
 'track!']

In [31]:
# Let's check that the datatype is list!
type(x)

list

In [32]:
# you can index any element in the list using indexing
x[1]

'Everyone'

In [33]:
# you can specify which letter could be choosed to perform the split
my_string = 'barbaraasiamah99@gmail.com'
z = my_string.split('@')
z

['barbaraasiamah99', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a student asking him/her about their feedback regarding the course. The code should split the atudent input into words and print them on screen**

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [34]:
tuple_1 = ('NAME', 'AGE', 10, 15, 1992);
tuple_2 = (450, 55, 977, 2100);
type(tuple_1)

tuple

In [35]:
tuple_1

('NAME', 'AGE', 10, 15, 1992)

In [36]:
# Accessing elements in a tuple
tuple_1[1]

'AGE'

In [37]:
# Tuple slicing
tuple_1[1:3]

('AGE', 10)

In [39]:
# Changing a value of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 0

TypeError: ignored

In [40]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('NAME', 'AGE', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of friends. Find the length and type as well.**

# 6. SETS

In [41]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers
my_set = {'NAME', 'AGE', 'T'}
print(my_set)

{'NAME', 'AGE', 'T'}

In [42]:
# set do not have duplicates
my_set = {'NAME', 'AGE', 'T','SEX','T','AGE'}
print(my_set)

{'NAME', 'AGE', 'T', 'SEX'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['NAME', 'AGE', 'T','SEX','T','AGE', 5, 6,5]
```