<a href="https://colab.research.google.com/github/barbara99/unicorndevelopers_python/blob/main/3_Python_101_Comparison%2C_Logical_Operators%2C_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COMPARISON OPERATORS

In [1]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

stock_1_price = 1000
stock_2_price = 1000
stock_1_price == stock_2_price

True

In [2]:
# Greater than or equal operator '>='

stock_1_price = 5000
stock_2_price = 1000
stock_1_price >= stock_2_price

True

In [3]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in stock_1_price)
stock_1_price = 10

In [4]:
stock_1_price

10

In [5]:
# Comparison operators work with strings as well
'Finance' == 'Finance'

True

In [6]:
# Both strings have to exactly match (lower case vs. upper case)
'Finance' == 'finance'

False

In [7]:
# Not equal comparison operator '!='

stock_1_price = 1000
stock_2_price = 1000
stock_1_price != stock_2_price

False

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

# 2. LOGICAL OPERATORS

In [8]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [9]:
# 0 and 1 = 0
False and True

False

In [10]:
# 0 and 0 = 0
False and False

False

In [11]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 
# 1 or 1 = 1
True or True

True

In [12]:
# 1 or 0 = 1
True or False

True

In [13]:
# 0 or 1 = 1
False or True

True

In [14]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False

False

In [15]:
 # True and False = False 
(10>3) and (9==3)

False

In [16]:
# True or False = True
(9>3) or (12==10)

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [17]:
if 10 > 9:
    print('If condition is True')
else:
    print('If condition is False')

If condition is True

In [18]:
if 5 == 10:
    print('If condition is True')
else:
    print('If condition is False')

If condition is False

In [19]:
if 5 == 7:
    print('First statement is true')
elif 2 == 4:
    print('Second statement is true')
else:
    print('Last statement is true')

Last statement is true

In [20]:
if 5 < 7:
    print('First statement is true')
elif 2 > 4:
    print('Second statement is true')
else:
    print('Last statement is true')

First statement is true

In [21]:
# Let's take an input from the user and grant or deny access accordingly
name = input('Enter your username:')

if name == 'Ryan':
    print("Access granted")
else:
    print("Access Denied")

Enter your username:Barbara
Access Denied

In [22]:
# Let's make the code more robust (case insensitive)
name = input('Enter your username:')

if name == 'Ryan' or name =='RYAN' or name =='ryan':
    print("Access granted")
else:
    print("Access Denied")

Enter your username:Ryan
Access granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [23]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print( 'Finance'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print( 'Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [24]:
# FALSE and TRUE and TRUE
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))

False

In [25]:
# TRUE or FALSE or TRUE
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [26]:
a = 5
b = 3.5

print(a == b or a != b) # False or True = True 
print(a == b and a != b) # False and True = False

True
False

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes a number from the user and indicates if it's positive or negative or zero**

In [27]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 1
Number is Positive

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [28]:
# Try 21

i = int(input("Enter a number between 1 and 100:"))

if (i % 3 == 0) and (i % 7 !=0):
    print("Number satisfies the requirement; The number is divisible by 3 and not multiple of 7")
else:
    print("The number does not satisfy the requirements")

Enter a number between 1 and 100:5
The number does not satisfy the requirements

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [29]:
x = int(input("Please enter an integer from 1 to 1000: "))

if x % 2==0:
    print('Number is Even')
else:
    print('Number is odd')

Please enter an integer from 1 to 1000: 6
Number is Even